
/**************************************************/
/* Общие */
/**************************************************/

/*body > * {
    background-color: rgba(0, 255, 0, 0.3);
    border: chartreuse 1px dashed;
}

body > * > * {
    background-color: rgba(0, 0, 255, 0.3);
    border: blue 1px dashed;
}

body > * > * > * {
    background-color: rgba(255, 0, 0, 0.3);
    border: red 1px dashed;
}

/*body > * > * > * > * {
    background-color: rgba(255, 0, 255, 0.3);
    border: #ff00ff 1px dashed;
}*/

body {
    margin: 0;
    padding: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
}

p, ul, li {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(100%);
}

.page-title {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    color: #32425c;
    background-color: #f2f6f8;
    text-transform: uppercase;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    /*min-width: 190px;*/
    display: inline-block;
    padding: 10px 40px;

    font: inherit;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;

    background-color: #ee3643;
    border: none;
    border-radius: 3px;
}

.button:hover,
.button:focus {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732
}

/**************************************************/
/* Шапка */
/**************************************************/

/* Общие элементы шапки */

.header {
    background-color: #f3f7f8;
}

.menu-list {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-top-container {
    width: 100%;
    background-color: #293449;
    height: 45px;
}

.header-navigation-top,
.main-menu {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;
}

.header-navigation-top {
    width: 940px;
    padding: 0;
    margin: 0 auto;

    display: flex;
}

.header-navigation-top-column1,
.header-navigation-top-column2 {
    display: flex;
    align-items: center;
}

.header-navigation-top-column1 {
    margin-right: auto;
}

.header-navigation-top-column2 {
    margin-left: auto;
}

.header-navigation_middle {
    background-color: #f2f6f8;

    width: 940px;
    padding-top: 45px;
    padding-bottom: 40px;

    display: flex;
    justify-content: space-between;
}

.header-navigation_buttons {
    background-color: #f2f6f8;

    width: 940px;
    padding-bottom: 60px;
}

.header-navigation-top a:hover,
.header-navigation_buttons a:hover,
.header-navigation-top a:focus,
.header-navigation_buttons a:focus,
.main-menu a:hover,
.main-menu a:focus {
    color: #ffffff;
    background-color: #212a3a;
}

.header-navigation-top a:active {
    color: #ffffff;
    opacity: 0.6;
    background-color: #161d29;
}

.header-navigation_buttons a:active,
.main-menu a:active {
    color: #ffffff;
    opacity: 0.5;
    background-color: #161d29;
}

/* Отдельные элементы шапки */

.logo,
.logo-bottom {
    display: block;
    height: 45px;
    line-height: 45px;
    /*box-shadow: 5px 5px 0 0 #b52933;*/
}

.logo img,
.logo-bottom img {
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;

    padding: 16px 56px 18px 56px;
}

.logo-bottom img {
    padding: 22px 43px;
}

.logo img:hover,
.logo img:focus {
    background-color: #ca2c37;
    box-shadow: 0 5px 0 0 #9a212a;
}

.logo img:active {
    background-color: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
}

.do-order a {
    color: #ffffff;
    background-color: #63a63e;

    display: block;
    padding: 14px 20px;
}

.do-order a:hover,
.do-order a:focus {
    color: #ffffff;
    background-color: #5fbb2d;
}

.do-order a:active {
    color: #ffffff;
    opacity: 0.5;
    background-color: #518534;
}

.header-top-anhor a {
    display: block;
    padding: 14px 30px 14px 45px;

    position: relative;
}

.bookmarks::before,
.shipbasket::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 17px;

    width: 16px;
    height: 18px;

    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.shipbasket::before {
    background-image: url("../img/cart-icon.png");
}

.bookmarks:hover::before,
.shipbasket:hover::before,
.bookmarks:focus::before,
.shipbasket:focus::before {
    opacity: 1;
}

.bookmarks:active::before,
.shipbasket:active::before {
    opacity: 0.5;
}

.basket-on {
    background-color: #ee3643;
}

/* Поле поиска */

.input-search {
    background-color: #293449;
    border: none;

    /*width: 230px;*/
    height: 43px;
    padding-left: 49px;
    
    position: relative;
}

.input-search:active,
.input-search:focus {
    background-color: #ffffff;
    outline: none;
}

.input-search::before {
    content: "";

    position: absolute;
    top: 13px;
    left: 16px;

    width: 18px;
    height: 20px;

    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

/* Информативный раздел шапки */

.header-notation {
    font-family: 'Cuprum', Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;

    width: 200px;
    padding-left: 50px;
    padding-right: 50px;
}

.header-contacts {
    width: 300px;
}

.header-contacts_phone {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: #e9292a;
    border: #ffffff 4px solid;

    padding: 10px 45px 10px 75px;
    max-width: 265px;
    position: relative;
}

.header-contacts_phone::before {
    content: "";

    position: absolute;
    top: 11px;
    left: 18px;

    width: 19px;
    height: 19px;

    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-contacts_adress {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;

    text-align: center;
}

.header-autorisation {
    width: 300px;
}

.autorisation-on {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.autorisation-off {
    display: flex;
    justify-content: flex-end;
}

.button-autorise-user,
.button-autorise-register,
.button-autorise-quit {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;

    padding-top: 12px;
    padding-bottom: 12px;
}

.button-autorise-user {
    padding-left: 47px;
    padding-right: 67px;
}

.button-autorise-quit {
    padding-left: 47px;
    padding-right: 22px;
    max-width: 120px;
    margin-right: 10px;
    position: relative;
}

.button-autorise-quit::before {
    content: "";

    position: absolute;
    top: 13px;
    left: 13px;

    width: 20px;
    height: 17px;

    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.button-autorise-quit:hover::before,
.button-autorise-quit:focus::before {
    opacity: 1;
}
.button-autorise-register {
    padding-left: 22px;
    padding-right: 22px;
    max-width: 150px;
}

.autorisation-on-other a {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    background-color: #f1f5f7;
    text-decoration: underline;
}

.button-autorise-register:hover,
.button-autorise-register:focus,
.button-autorise-quit:hover,
.button-autorise-quit:focus,
.autorisation-on-other a:hover,
.autorisation-on-other a:focus {
    color: #ee3643;
}

.autorisation-on-other a:active,
.button-autorise-user:active,
.button-autorise-register:active,
.button-autorise-quit:active {
    color: rgba(0, 0, 0, 0.3);
}

/* Элементы шапки вложенных страниц */

.bread-clumbs,
.bread-clumbs-item a {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
}

.bread-clumbs-item {
    margin-left: 25px;
    margin-right: 20px;
    position: relative;
}

.bread-clumbs-item::before {
    content: "";

    position: absolute;
    top: 3px;
    left: -25px;

    width: 8px;
    height: 12px;

    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.bread-clumbs-list {
    list-style: none;
    margin-left: 28px;

    display: flex;
    position: relative;
}

.bread-clumbs-list::before {
    content: "";

    position: absolute;
    top: 3px;
    left: -28px;

    width: 13px;
    height: 13px;

    background-image: url("../img/icon-home.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/**************************************************/
/* Подвал */
/**************************************************/

/* Сервисы */

.about-company,
.about-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 540px;
    min-height: 370px;
    margin-right: 10px;
    margin-left: 10px;
}

.about-contacts {
    width: 300px;
}

.about-company .button,
.about-contacts .button {
    margin-top: auto;
}

.about-company h2,
.about-contacts h2 {
    padding-bottom: 35px;
    margin: 0;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.about-company p,
.about-contacts p {
    padding-bottom: 30px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.transport-company-list {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.transport-company-list li {
    list-style: none;
    position: relative;

    padding-bottom: 20px;
    padding-left: 35px;
}

.transport-company-list li:before {
    display: block;
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    top: 9px;
    left: 0px;
    background: #ee3643;
}

/* Верхняя часть подвала */

.footer-floor1-wrapper {
    background-color: #32425c;
    width: 100%;
}

.footer-floor1 {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #32425c;

    display: flex;
    justify-content: space-between;

    width: 940px;
    margin: 0 auto;
}

.footer-floor1-left {
    width: 380px;
    margin-left: 10px;
}

.footer-floor1-contacts {
    padding-top: 15px;
}

.footer-floor1-right {
    width: 550px;
    margin-right: 10px;
}

.footer-menu1 {
    justify-content: space-between;
}

.footer-menu2 {
    justify-content: space-around;
}

.footer-menu1-item {
    display: block;
    padding: 30px 0px 10px 0px;
}

.footer-menu2-item {
    display: block;
    padding: 10px 0px 70px 0px;
}

.footer-menu1-item a,
.footer-menu2-item a {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.footer-menu2-item a {
    color: #ffd180;
}

.footer-menu1-item a:hover,
.footer-menu1-item a:focus,
.footer-menu2-item a:hover,
.footer-menu2-item a:focus {
    text-decoration: underline;
}

.footer-menu1-item a:active,
.footer-menu2-item a:active {
    text-decoration: none;
    opacity: 0.5;
}

/* Нижняя часть подвала */

.footer-floor2-wrapper {
    width: 100%;
}

.footer-floor2,
.footer-floor2-wrapper {
    background-color: #293449;
}

.footer-floor2 {
    display: flex;
    justify-content: space-between;

    width: 940px;
    margin: 0 auto;
}

.footer-copyright {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;

    width: 300px;
    margin-left: 10px;
    padding-top: 40px;
    padding-bottom: 35px;
}

.footer-social-icons {
    width: 135px;
    padding-top: 40px;
    padding-bottom: 35px;
}

.footer-contacts {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    width: 300px;
    margin-right: 10px;

    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 35px;
}

.footer-contacts a {
    color: #ffd180;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: underline;
}

.footer-contacts a:active {
    text-decoration: none;
    color: #ee3643;
}

.social-icons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 auto;
    list-style: none;
}

.social-icons-item a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 41px;
    height: 41px;

    background-color: #212a3a;
    border-radius: 50%;
}

.social-icons-item a:hover,
.social-icons-item a:focus,
.social-icons-item a:active {
    background-color: #ee3643;
}

/**************************************************/
/* Список товаров */
/**************************************************/

/* Карточка товара */

.catalog-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-item {
    width: 220px;
    min-height: 320;
    margin-top: 0;
    margin-bottom: 20px;

    border: #e5e5e5 2px solid;
}

.catalog-item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog-item:hover,
.catalog-item:focus {
    box-shadow: 10px 10px 10px 0#293449;
}

.catalog-item-name {
    margin-top: 12px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
}

.item-new {
    position: relative;
}

.item-new::after {
    content: "";

    position: absolute;
    top: 0px;
    left: 160px;

    width: 60px;
    height: 60px;

    background-image: url("../img/new_flag.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.catalog-item-price {
    min-height: 80px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.current-price-old {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #999999;
    background-color: #ffffff;
    text-align: center;
    text-decoration: line-through;
}

.button-price {
    width: 140px;
    padding: 9px;
    border-radius: 3px;
    margin-top: 15px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-image: url("../img/red-button.svg");
    background-repeat: no-repeat;
    text-align: center;
}

.button-buy,
.button-tobookmark {
    box-sizing: border-box;
    width: 135px;
    padding-top: 7px;
    padding-bottom: 7px;
    
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
}

.button-buy {
    margin-bottom: 7px;
    color: #ffffff;
    background-color: #63a63e;
    border-bottom: #367315 3px solid;
    position: relative;
}

.button-buy:hover,
.button-buy:focus {
    background-color: #5fbb2d;
    border-bottom: #367315 3px solid;
}

.button-buy:active {
    background-color: #518534;
    border-bottom: #518534 3px solid;
}

.button-buy::before {
    content: "";

    position: absolute;
    top: 8px;
    left: 15px;

    width: 17px;
    height: 15px;

    background-image: url("../img/cart-icon.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.button-tobookmark {
    color: #32425c;
    background-color: #ffffff;
    border: #63a63e 3px solid;
}

.button-tobookmark:hover,
.button-tobookmark:focus {
    border: #32425c 3px solid;
}

.button-tobookmark:active {
    opacity: 0.3;
}

/* Окружение списка товаров */

.catalog-form-header,
.catalog-form-body {
    display: flex;
    justify-content: space-between;

    width: 940px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.catalog-form-column1 {
    width: 220px;
}

.catalog-form-column2 {
    width: 700px;
}

.catalog-form-header .catalog-form-column1,
.catalog-form-header .catalog-form-column2 {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    background-color: #f7f3ec;
    text-transform: uppercase;
}

.sorting {
    display: flex;
    justify-content: space-between;
}

.catalog-form-anhors {
    display: flex;
    justify-content: flex-start;
}

.catalog-form-images {
    display: flex;
    justify-content: flex-end;
}

.catalog-form-anhor {
    padding: 10px 20px;
}

.sorting img {
    padding-top: 13px;
    padding-right: 18px;
}

.catalog-form-column1 h3 {
    padding-bottom: 15px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
}

.filter-by-price,
.filter-by-factory {
    border-bottom: #e5e5e5 2px solid;
}

.filter-by-price h3 {
    padding: 0;
    margin: 0;
}

.filter-item {
    padding-bottom: 25px;
    padding-left: 35px;

    position: relative;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
}

.check-on::before,
.check-off::before,
.radio-on::before,
.radio-off::before {
    content: "";

    position: absolute;
    top: -3px;
    left: 0px;

    width: 24px;
    height: 24px;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.check-on::before {
    background-image: url("../img/checkbox-on.svg");
}

.radio-on::before {
    background-image: url("../img/radio-on.svg");
}

.radio-off::before {
    background-image: url("../img/radio-off.svg");
}

.button-white-container {
    margin-top: 60px;
}
.paginator {
    display: flex;
    margin-top: 45px;
    margin-bottom: 55px;
}

.button-white {
    padding: 10px 35px;
    margin-right: 8px;
    border: #e5e5e5 1px solid;
    border-radius: 3px;
    
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
}

.page-number {
    padding-left: 15px;
    padding-right: 15px;
}

.button-white:focus {
    border-color: #bdc6ca;
}

.button-white:hover {
    border-color: #bdc6ca;
    outline: none;
}

.button-white:active {
    border-color: #ee3643;
    outline: none;
}

.page-number-active {
    color: #ffffff;
    background-color: #ee3643;
}

/**************************************************/
/* Сетка */
/**************************************************/

/* Шапка */

.header {
    width: 100%;
    /*margin-bottom: 60px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-menu-item a {
    display: block;
    padding: 20px 30px;
}

/* О компании */

.footer-about {
    display: flex;
    justify-content: space-between;

    width: 940px;
    margin: 0 auto;
    padding-bottom: 90px;
}

/* Основной контент */

.maincontainer-home {
    margin-top: 60px;
}

.page-title {
    width: 880px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 30px;
}

.bread-clumbs {
    width: 940px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

/**************************************************/
/* Для JS */
/**************************************************/

.modal {
    display: none;
}

.modal-show {
    display: block;
}
