
/**************************************************/
/* Общие */
/**************************************************/

/*body > * {
    background-color: rgba(0, 255, 0, 0.3);
    border: chartreuse 2px solid;
}

body > * > * {
    background-color: rgba(0, 0, 255, 0.3);
    border: blue 2px solid;
}

body > * > * > * {
    background-color: rgba(255, 0, 0, 0.3);
    border: red 2px solid;
}

body > * > * > * > * {
    background-color: rgba(255, 0, 255, 0.3);
    border: #ff00ff 2px solid;
}*/

body {
    margin: 0;
    padding: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
}

p, ul, li {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(100%);
}

.page-title {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    color: #32425c;
    background-color: #f2f6f8;
    text-transform: uppercase;
}

img {
    max-width: 100%;
    height: auto;
}

/**************************************************/
/* Шапка */
/**************************************************/

/* Общие элементы шапки */

.header {
    background-color: #f3f7f8;
}

.menu-list {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-top-container {
    width: 100%;
    background-color: #32425c;
}

.header-navigation-top,
.main-menu {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #32425c;
}

.header-navigation-top {
    width: 940px;
    padding: 0;
    margin: 0 auto;

    display: flex;
}

.header-navigation-top-column1,
.header-navigation-top-column2 {
    display: flex;
    align-items: center;
}

.header-navigation-top-column1 {
    margin-right: auto;
}

.header-navigation-top-column2 {
    margin-left: auto;
}

.header-navigation_middle {
    background-color: #f2f6f8;

    width: 940px;
    padding-top: 45px;
    padding-bottom: 40px;

    display: flex;
    justify-content: space-between;
}

.header-navigation_buttons {
    background-color: #f2f6f8;

    width: 940px;
    padding-bottom: 60px;
}

.header-navigation-top a:hover,
.header-navigation_buttons a:hover,
.header-navigation-top a:focus,
.header-navigation_buttons a:focus,
.main-menu a:hover,
.main-menu a:focus {
    color: #ffffff;
    background-color: #212a3a;
}

.header-navigation-top a:active {
    color: rgba(255, 255, 255, 0.6);
    background-color: #161d29;
}

.header-navigation_buttons a:active,
.main-menu a:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #161d29;
}

/* Отдельные элементы шапки */

.logo img {
    background-color: #ee3643;
    border-bottom: #b52933 6px solid;
}

.logo img:hover,
.logo img:focus {
    background-color: #ca2c37;
    border-bottom: #9a212a 6px solid;
}

.logo img:active {
    background-color: #ba2732;
    border-bottom: #8e1e26 6px solid;
}

.do-order a {
    color: #ffffff;
    background-color: #63a63e;
}

.do-order a:hover,
.do-order a:focus {
    color: #ffffff;
    background-color: #5fbb2d;
}

.do-order a:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #518534;
}

.header-top-anhor a {
    display: block;
    padding: 12px 30px 12px 45px;

    position: relative;
}

.do-order a {
    padding: 12px 20px;
}

.bookmarks::before,
.shipbasket::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 17px;

    width: 16px;
    height: 18px;

    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.shipbasket::before {
    background-image: url("../img/cart-icon.png");
}

.bookmarks:hover::before,
.shipbasket:hover::before,
.bookmarks:focus::before,
.shipbasket:focus::before {
    opacity: 1;
}

.bookmarks:active::before,
.shipbasket:active::before {
    opacity: 0.5;
}

.header-notation {
    font-family: 'Cuprum', Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;

    width: 200px;
    padding-left: 50px;
    padding-right: 50px;
}

.header-contacts {
    width: 300px;
}

.header-contacts_phone {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: #e9292a;
    border: #ffffff 4px solid;

    padding: 10px 45px 10px 75px;
    max-width: 265px;
    position: relative;
}

.header-contacts_phone::before {
    content: "";

    position: absolute;
    top: 11px;
    left: 18px;

    width: 19px;
    height: 19px;

    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-contacts_adress {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;

    text-align: center;
}

.header-autorisation {
    width: 300px;
}

.autorisation-on {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.autorisation-off {
    display: flex;
    justify-content: flex-end;
}

.button-autorise-user,
.button-autorise-register,
.button-autorise-quit {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;

    padding-top: 12px;
    padding-bottom: 12px;
}

.button-autorise-user {
    padding-left: 47px;
    padding-right: 67px;
}

.button-autorise-quit {
    padding-left: 47px;
    padding-right: 22px;
    max-width: 120px;
    margin-right: 10px;
    position: relative;
}

.button-autorise-quit::before {
    content: "";

    position: absolute;
    top: 13px;
    left: 13px;

    width: 20px;
    height: 17px;

    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.button-autorise-quit:hover::before,
.button-autorise-quit:focus::before {
    opacity: 1;
}
.button-autorise-register {
    padding-left: 22px;
    padding-right: 22px;
    max-width: 150px;
}

.autorisation-on-other a {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    background-color: #f1f5f7;
    text-decoration: underline;
}

.button-autorise-register:hover,
.button-autorise-register:focus,
.button-autorise-quit:hover,
.button-autorise-quit:focus,
.autorisation-on-other a:hover,
.autorisation-on-other a:focus {
    color: #ee3643;
}

.autorisation-on-other a:active,
.button-autorise-user:active,
.button-autorise-register:active,
.button-autorise-quit:active {
    color: rgba(0, 0, 0, 0.3);
}

/* Элементы шапки вложенных страниц */

.bread-clumbs,
.bread-clumbs-item a {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
}

.bread-clumbs-item {
    margin-left: 25px;
    margin-right: 20px;
    position: relative;
}

.bread-clumbs-item::before {
    content: "";

    position: absolute;
    top: 3px;
    left: -25px;

    width: 8px;
    height: 12px;

    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.bread-clumbs-list {
    list-style: none;
    margin-left: 28px;

    display: flex;
    position: relative;
}

.bread-clumbs-list::before {
    content: "";

    position: absolute;
    top: 3px;
    left: -28px;

    width: 13px;
    height: 13px;

    background-image: url("../img/icon-home.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/**************************************************/
/* Подвал */
/**************************************************/

/* Сервисы */

.about-company h2,
.about-contacts h2 {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.about-company p,
.about-contacts p {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.transport-company-list {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.about-company .linker,
.about-contacts .linker,
.button,
.button-right-us {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
}

.transport-company-list li {
    list-style: none;
    position: relative;
}

.transport-company-list li:before {
    display: block;
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    top: 40%;
    left: -33px;
    background: #ee3643;
}

/* Верхняя часть подвала */

.footer-floor1-wrapper {
    background-color: #32425c;
    width: 100%;
}

.footer-floor1 {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #32425c;

    display: flex;
    justify-content: space-between;

    width: 940px;
    margin: 0 auto;
}

.footer-floor1-left {
    width: 380px;
    margin-left: 10px;
}

.footer-floor1-right {
    width: 550px;
    margin-right: 10px;
}

.footer-menu1 {
    justify-content: space-between;
}

.footer-menu2 {
    justify-content: space-around;
}

.footer-menu1-item {
    display: block;
    padding: 30px 0px 10px 0px;
}

.footer-menu2-item {
    display: block;
    padding: 10px 0px 70px 0px;
}

.footer-menu1-item a,
.footer-menu2-item a {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.footer-menu2-item a {
    color: #ffd180;
}

.footer-menu1-item a:hover,
.footer-menu1-item a:focus,
.footer-menu2-item a:hover,
.footer-menu2-item a:focus {
    text-decoration: underline;
}

.footer-menu1-item a:active,
.footer-menu2-item a:active {
    text-decoration: none;
    opacity: 0.5;
}

/* Нижняя часть подвала */

.footer-floor2-wrapper {
    width: 100%;
}

.footer-floor2,
.footer-floor2-wrapper {
    background-color: #293449;
}

.footer-floor2 {
    display: flex;
    justify-content: space-between;

    width: 940px;
    margin: 0 auto;
}

.footer-copyright {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;

    width: 300px;
    margin-left: 10px;
}

.footer-social-icons {
    width: 135px;
}

.footer-contacts {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    width: 300px;
    margin-right: 10px;

    display: flex;
    justify-content: space-between;
}

.footer-contacts a {
    color: #ffd180;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: underline;
}

.footer-contacts a:active {
    text-decoration: none;
    color: #ee3643;
}

.social-icons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 auto;
    list-style: none;
}

.social-icons-item a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 41px;
    height: 41px;

    background-color: #212a3a;
    border-radius: 50%;
}

.social-icons-item a:hover,
.social-icons-item a:focus,
.social-icons-item a:active {
    background-color: #ee3643;
}

/**************************************************/
/* Список товаров */
/**************************************************/

.catalog-list {
    list-style: none;
}

.catalog-item {
    border: #e5e5e5 2px solid;
}

.catalog-item:hover {
    box-shadow: #293449;
}

.catalog-item-name a {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
}

.catalog-item-price .current-price-old {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #999999;
    background-color: #ffffff;
    text-align: center;
}

.catalog-item-price .button-price {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #ee3643;
    text-align: center;
}

a.button-buy {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    background-color: #63a63e;
    text-align: center;
    text-transform: uppercase;
    border-bottom: #367315 4px solid;
}

a.button-buy:hover,
a.button-buy:focus {
    color: #ffffff;
    background-color: #5fbb2d;
    border-bottom: #367315 4px solid;
}

a.button-buy:active {
    color: #ffffff;
    background-color: #518534;
    border-bottom: #518534 4px solid;
}

button.button-tobookmark {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #32425c;
    background-color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    border: #63a63e 4px solid;
}

.catalog-form-header .catalog-form-column1,
.catalog-form-header .catalog-form-column2 {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    background-color: #f7f3ec;
    text-transform: uppercase;
}

.catalog-form-column1 h3 {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
}

.filter-by-price,
.filter-by-factory {
    border-bottom: #e5e5e5 2px solid;
}

/**************************************************/
/* Сетка */
/**************************************************/

/* Шапка */

.header {
    width: 100%;
    /*margin-bottom: 60px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-menu-item a {
    display: block;
    padding: 20px 30px;
}

/* О компании */

.footer-about {
    display: flex;
    justify-content: space-between;

    width: 940px;
    margin: 0 auto;
    padding-bottom: 90px;
}

.about-company {
    width: 540px;
    margin-right: 10px;
    margin-left: 10px;
}

.about-contacts {
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
}

/* Основной контент */

.maincontainer-home {
    margin-top: 60px;
}

.page-title {
    width: 880px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 30px;
}

.bread-clumbs {
    width: 940px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.catalog-form-header,
.catalog-form-body {
    display: flex;
    justify-content: space-between;

    width: 940px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.catalog-form-column1 {
    width: 220px;
}

.catalog-form-column2 {
    width: 700px;
}

.sorting {
    display: flex;
    justify-content: space-between;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-item {
    width: 220px;
    min-height: 320;
    margin-top: 0;
    margin-bottom: 20px;
}
