
/**************************************************/
/* Общие */
/**************************************************/

body {
    margin: 0;
    padding: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

p, ul, li {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(100%);
}

.page-title,
.page-title-home {
    width: 880px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 30px;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    color: #32425c;
    background-color: #f2f6f8;
    text-transform: uppercase;
}

.page-title-home {
    position: relative;
    background-color: #f9f5f0;
}

.button {
    display: inline-block;
    padding: 10px 40px;

    font: inherit;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;

    background-color: #ee3643;
    border: none;
    border-radius: 3px;
}

.button:hover,
.button:focus {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732
}

/**************************************************/
/* Шапка */
/**************************************************/

/* Общие элементы шапки */

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f7f8;
}

.menu-list {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-menu-item a {
    display: block;
    padding: 20px 30px;
}

.header-top-container {
    width: 100%;
    background-color: #293449;
    height: 45px;
}

.header-navigation-top,
.main-menu {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;
}

.header-navigation-top {
    width: 940px;
    padding: 0;
    margin: 0 auto;

    display: flex;
}

.header-navigation-top-column1,
.header-navigation-top-column2 {
    display: flex;
    align-items: center;
}

.header-navigation-top-column1 {
    margin-right: auto;
}

.header-navigation-top-column2 {
    margin-left: auto;
}

.header-navigation_middle {
    background-color: #f2f6f8;

    width: 940px;
    padding-top: 45px;
    padding-bottom: 40px;

    display: flex;
    justify-content: space-between;
}

.header-navigation_buttons {
    background-color: #f2f6f8;

    width: 940px;
    padding-bottom: 60px;
}

.header-navigation-top a:hover,
.header-navigation_buttons a:hover,
.header-navigation-top a:focus,
.header-navigation_buttons a:focus,
.main-menu a:hover,
.main-menu a:focus {
    color: #ffffff;
    background-color: #212a3a;
}

.header-navigation-top a:active {
    color: #ffffff;
    opacity: 0.6;
    background-color: #161d29;
}

.header-navigation_buttons a:active,
.main-menu a:active {
    color: #ffffff;
    opacity: 0.5;
    background-color: #161d29;
}

/* Отдельные элементы шапки */

.logo,
.logo-bottom {
    display: block;
    height: 45px;
    line-height: 45px;
    position: relative;
}

.logo img,
.logo-bottom img {
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;

    padding: 14px 56px;
}

.logo-bottom img {
    padding: 22px 43px;
}

.logo img:hover,
.logo img:focus {
    background-color: #ca2c37;
    box-shadow: 0 5px 0 0 #9a212a;
}

.logo img:active {
    background-color: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
}

.do-order a {
    color: #ffffff;
    background-color: #63a63e;

    display: block;
    padding: 14px 20px;
}

.do-order a:hover,
.do-order a:focus {
    color: #ffffff;
    background-color: #5fbb2d;
}

.do-order a:active {
    color: #ffffff;
    opacity: 0.5;
    background-color: #518534;
}

.header-top-anhor a {
    display: block;
    padding: 14px 30px 14px 45px;

    position: relative;
}

.bookmarks::before,
.shipbasket::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 17px;

    width: 16px;
    height: 18px;

    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.shipbasket::before {
    background-image: url("../img/cart-icon.png");
}

.bookmarks:hover::before,
.shipbasket:hover::before,
.bookmarks:focus::before,
.shipbasket:focus::before {
    opacity: 1;
}

.bookmarks:active::before,
.shipbasket:active::before {
    opacity: 0.5;
}

.basket-on {
    background-color: #ee3643;
}

/* Поле поиска */

.form-search {
    position: relative;
}

.input-search {
    background-color: #293449;
    border: none;

    height: 43px;
    padding-left: 49px;
}

.input-search:active,
.input-search:focus {
    background-color: #ffffff;
    outline: none;
}

.input-search::placeholder {
    color: #ffffff;
}

.input-search + .search-btn {
    content: "";

    position: absolute;
    top: 13px;
    left: 10px;

    width: 18px;
    height: 20px;
    z-index: 1;

    background-color: #293449;
    border: none;

    opacity: 0.3;
}

.input-search:hover + .search-btn,
.search-btn:hover {
    opacity: 1;
}

.input-search:active + .search-btn,
.input-search:focus + .search-btn {
    background-color: #ffffff;
    outline: none;
    opacity: 1;
}

.input-search:active + .search-btn path,
.input-search:focus + .search-btn path {
    fill: #ee3643;
}

/* Информативный раздел шапки */

.header-notation {
    font-family: 'Cuprum', Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;

    width: 200px;
    padding-left: 50px;
    padding-right: 50px;
}

.header-contacts {
    width: 300px;
}

.header-contacts_phone {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: #e9292a;
    border: #ffffff 4px solid;

    padding: 10px 45px 10px 75px;
    max-width: 265px;
    position: relative;
}

.header-contacts_phone::before {
    content: "";

    position: absolute;
    top: 11px;
    left: 18px;

    width: 19px;
    height: 19px;

    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-contacts_adress {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;

    text-align: center;
}

.header-autorisation {
    width: 300px;
}

.autorisation-on {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.autorisation-on-autor {

    width: 253px;
    padding: 12px 0 12px 47px;
    background-color: #fff;
}

.autorisation-off {
    display: flex;
    justify-content: flex-end;
}

.button-autorise-user,
.button-autorise-logout,
.button-autorise-register,
.button-autorise-quit {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;

    padding-top: 12px;
    padding-bottom: 12px;
}

.button-autorise-user,
.button-autorise-logout {
    padding: 0;
    margin: 0;
    position: relative;
}

.button-autorise-quit {
    padding-left: 47px;
    padding-right: 22px;
    max-width: 120px;
    margin-right: 10px;
    position: relative;
}

.button-autorise-quit::before {
    content: "";

    position: absolute;
    top: 13px;
    left: 13px;

    width: 20px;
    height: 17px;

    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.button-autorise-user .svg-icon-user,
.button-autorise-logout .svg-icon-logout {
    content: "";
    position: absolute;

    width: 20px;
    height: 18px;

    background-color: #ffffff;
    border: none;
    z-index: 1;
}

.button-autorise-user .svg-icon-user {
    top: 4px;
    left: -34px;
}

.button-autorise-logout .svg-icon-logout {
    top: 4px;
    right: -50px;
}

.button-autorise-user:hover .svg-icon-user path,
.button-autorise-logout:hover .svg-icon-logout path,
.button-autorise-user:focus .svg-icon-user path,
.button-autorise-logout:focus .svg-icon-logout path {
    fill: #32425c;
}

.button-autorise-user:active .svg-icon-user path,
.button-autorise-logout:active .svg-icon-logout path {
    fill: #c5c5c5;
}

.button-autorise-quit:hover::before,
.button-autorise-quit:focus::before {
    opacity: 1;
}
.button-autorise-register {
    padding-left: 22px;
    padding-right: 22px;
    max-width: 150px;
}

.autorisation-on-other p {
    background-color: #f1f5f7;
}

.autorisation-on-other a {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    background-color: #f1f5f7;
    text-decoration: underline;
}

.button-autorise-register:hover,
.button-autorise-register:focus,
.button-autorise-quit:hover,
.button-autorise-quit:focus,
.autorisation-on-other a:hover,
.autorisation-on-other a:focus {
    color: #ee3643;
}

.autorisation-on-other a:active,
.button-autorise-user:active,
.button-autorise-logout:active,
.button-autorise-register:active,
.button-autorise-quit:active {
    color: rgba(0, 0, 0, 0.3);
}

/* Элементы шапки вложенных страниц */

.bread-clumbs,
.bread-clumbs-item a {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
}

.bread-clumbs {
    width: 940px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bread-clumbs-item {
    margin-left: 25px;
    margin-right: 20px;
    position: relative;
}

.bread-clumbs-item::before {
    content: "";

    position: absolute;
    top: 3px;
    left: -25px;

    width: 8px;
    height: 12px;

    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.bread-clumbs-list {
    list-style: none;
    margin-left: 28px;

    display: flex;
    position: relative;
}

.bread-clumbs-list::before {
    content: "";

    position: absolute;
    top: 3px;
    left: -28px;

    width: 13px;
    height: 13px;

    background-image: url("../img/icon-home.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/**************************************************/
/* Подвал */
/**************************************************/

/* Сервисы */

.about-company,
.about-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 540px;
    min-height: 370px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 80px;
}

.about-contacts {
    width: 300px;
}

.about-company .button,
.about-contacts .button {
    margin-top: auto;
}

.about-company h2,
.about-contacts h2 {
    padding-bottom: 35px;
    margin: 0;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.about-company p,
.about-contacts p {
    padding-bottom: 30px;
    width: 540px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.about-contacts p {
    width: 300px;
}

.transport-company-list {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.transport-company-list li {
    list-style: none;
    position: relative;

    padding-bottom: 20px;
    padding-left: 35px;
}

.transport-company-list li:before {
    display: block;
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    top: 9px;
    left: 0px;
    background: #ee3643;
}

/* Верхняя часть подвала */

.footer-floor1-wrapper {
    background-color: #32425c;
    width: 100%;
}

.footer-floor1 {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #32425c;

    display: flex;
    justify-content: space-between;

    width: 940px;
    margin: 0 auto;
}

.footer-floor1-left {
    width: 380px;
    margin-left: 10px;
}

.footer-floor1-contacts {
    padding-top: 15px;
}

.footer-floor1-right {
    width: 550px;
    margin-right: 10px;
}

.footer-menu1 {
    justify-content: space-between;
}

.footer-menu2 {
    justify-content: space-around;
}

.footer-menu1-item {
    display: block;
    padding: 30px 0px 10px 0px;
}

.footer-menu2-item {
    display: block;
    padding: 10px 0px 70px 0px;
}

.footer-menu1-item a,
.footer-menu2-item a {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.footer-menu2-item a {
    color: #ffd180;
}

.footer-menu1-item a:hover,
.footer-menu1-item a:focus,
.footer-menu2-item a:hover,
.footer-menu2-item a:focus {
    text-decoration: underline;
}

.footer-menu1-item a:active,
.footer-menu2-item a:active {
    text-decoration: none;
    opacity: 0.5;
}

/* Нижняя часть подвала */

.footer-floor2-wrapper {
    width: 100%;
}

.footer-floor2,
.footer-floor2-wrapper {
    background-color: #293449;
}

.footer-floor2 {
    display: flex;
    justify-content: space-between;

    width: 940px;
    margin: 0 auto;
}

.footer-copyright {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;

    width: 300px;
    margin-left: 10px;
    padding-top: 40px;
    padding-bottom: 35px;
}

.footer-about {
    display: flex;
    justify-content: space-between;

    width: 940px;
    margin: 0 auto;
    padding-bottom: 90px;
}

.footer-social-icons {
    width: 135px;
    padding-top: 40px;
    padding-bottom: 35px;
}

.footer-contacts {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    width: 300px;
    margin-right: 10px;

    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 35px;
}

.footer-contacts a {
    color: #ffd180;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: underline;
}

.footer-contacts a:active {
    text-decoration: none;
    color: #ee3643;
}

.social-icons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 auto;
    list-style: none;
}

.social-icons-item a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 41px;
    height: 41px;

    background-color: #212a3a;
    border-radius: 50%;
}

.social-icons-item a:hover,
.social-icons-item a:focus,
.social-icons-item a:active {
    background-color: #ee3643;
}

/**************************************************/
/* Список товаров */
/**************************************************/

/* Карточка товара */

.catalog-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */

    margin-left: -20px;
}

.catalog-item {
    box-sizing: border-box;
    width: 220px;
    min-height: 320;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 20px;

    border: #e5e5e5 2px solid;
}

.catalog-item-card {
    display: block;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog-item-card:hover,
.catalog-item-card:focus {
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item-image {
    display: block;
}

.catalog-item-buttons {
    display: none;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalog-item-card:hover .catalog-item-image,
.catalog-item-card:focus .catalog-item-image {
    display: none;
}

.catalog-item-card:hover .catalog-item-buttons,
.catalog-item-card:focus .catalog-item-buttons {
    display: flex;
}

.catalog-item-name {
    margin-top: 12px;
    margin-top: auto;

    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
}

.catalog-item-price {
    min-height: 80px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.item-new {
    position: relative;
}

.item-new::after {
    content: "";

    position: absolute;
    top: 0px;
    left: 156px;

    width: 60px;
    height: 60px;

    background-image: url("../img/new_flag.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.current-price-old {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #999999;
    background-color: #ffffff;
    text-align: center;
    text-decoration: line-through;
}

.non-price {
    color: #fff;
    background-color: #fff;
}

.button-price {
    width: 140px;
    padding: 9px;
    border-radius: 3px;
    margin-top: 15px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-image: url("../img/red-button.svg");
    background-repeat: no-repeat;
    background-position: 13px 0;
    text-align: center;
}

.button-buy,
.button-tobookmark {
    box-sizing: border-box;
    width: 135px;
    padding-top: 7px;
    padding-bottom: 7px;
    
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
}

.button-buy {
    margin-top: 45px;
    margin-bottom: 7px;
    color: #ffffff;
    background-color: #63a63e;
    border-bottom: #367315 3px solid;
    position: relative;
}

.button-buy:hover,
.button-buy:focus {
    background-color: #5fbb2d;
    border-bottom: #367315 3px solid;
}

.button-buy:active {
    background-color: #518534;
    border-bottom: #518534 3px solid;
}

.button-buy::before {
    content: "";

    position: absolute;
    top: 8px;
    left: 15px;

    width: 17px;
    height: 15px;

    background-image: url("../img/cart-icon.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.button-tobookmark {
    color: #32425c;
    background-color: #ffffff;
    border: #63a63e 3px solid;
}

.button-tobookmark:hover,
.button-tobookmark:focus {
    border: #32425c 3px solid;
}

.button-tobookmark:active {
    opacity: 0.3;
}

/* Окружение списка товаров */

.catalog-form-header,
.catalog-form-body {
    display: flex;
    justify-content: space-between;

    width: 940px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.catalog-form-column1 {
    width: 220px;
}

.catalog-form-column2 {
    width: 700px;
}

.catalog-form-header .catalog-form-column1,
.catalog-form-header .catalog-form-column2 {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    background-color: #f7f3ec;
    text-transform: uppercase;
}

.sorting {
    display: flex;
    justify-content: space-between;
}

.catalog-form-anhors {
    display: flex;
    justify-content: flex-start;
}

.catalog-form-images {
    display: flex;
    justify-content: flex-end;
}

.catalog-form-images p {
    margin: 10px;
}

.catalog-form-anhor {
    margin: 10px;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: #ee3643 1px dotted;
}

.catalog-form-anhor:hover,
.catalog-form-anhor:focus {
    color: #000000;
    border-bottom: #ee3643 1px solid;
}

.catalog-form-anhor:active {
    color: #ee3643;
    border-bottom: none;
}

.catalog-form-images .catalog-form-anhor,
.catalog-form-images .catalog-form-anhor:hover,
.catalog-form-images .catalog-form-anhor:focus {
    border-bottom: none;
}

.catalog-form-text {
    padding: 10px 120px 10px 20px;
}

.catalog-form-column1 h3 {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
}

/* Форма фильтрации */

.price-progress {
    position: relative;
    margin-bottom: 10px;
    min-height: 80px;

    background-color: #f7f3ec;
    border-radius: 3px;
}

.price-progress-greenline {
    display: block;
    position: absolute;
    content: "";
    width: 150px;
    height: 2px;
    top: 39px;
    left: 20px;
    background: #00ca74;
}

.price-progress-greyline {
    display: block;
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    top: 39px;
    left: 170px;
    background: #d7dcde;
}

.price-progress-leftpoint,
.price-progress-rightpoint {
    display: block;
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    top: 38px;
    left: 18px;
    background: #ababab;
    z-index: 1;

    border-radius: 2px;
    box-shadow:
        0 0 0 8px #ffffff,
        0 2px 0 8px #ababab;
}

.price-interval {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
}

.form-catalog-filter input[type="text"] {
    width: 95px;
    min-height: 38px;

    text-align: center;

    background-color: #f7f3ec;
    border: none;
    border-radius: 3px;
}

.price-progress-rightpoint {
    left: 168px;
}

.filter-by-price,
.filter-by-factory {
    border-bottom: #e5e5e5 2px solid;
}

.filter-by-price h3 {
    padding: 0;
    margin: 0;
}

.filter-item {
    padding-bottom: 25px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
}

.radio-btn,
.check-btn {
    display: none;
}

.radio-btn + label {
    background: url("../img/radio-off.svg") no-repeat scroll 0 0;
    cursor: pointer;
    padding-bottom: 6px;
    padding-left: 35px;
}

.check-btn + label {
    background: url("../img/checkbox-off.svg") no-repeat scroll 0 0;
    cursor: pointer;
    padding-bottom: 6px;
    padding-left: 35px;
}

.radio-btn:checked + label {
    background: url("../img/radio-on.svg") no-repeat scroll 0 0;
}

.check-btn:checked + label {
    background: url("../img/checkbox-on.svg") no-repeat scroll 0 0;
}

.button-white-container {
    margin-top: 60px;
}

/* Пагинатор */

.paginator {
    display: flex;
    margin-top: 45px;
    margin-bottom: 55px;
}

.button-white {
    padding: 10px 35px;
    margin-right: 8px;
    border: #e5e5e5 1px solid;
    border-radius: 3px;
    
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
}

.page-number {
    padding-left: 15px;
    padding-right: 15px;
}

.button-white:focus {
    border-color: #bdc6ca;
}

.button-white:hover {
    border-color: #bdc6ca;
    outline: none;
}

.button-white:active {
    border-color: #ee3643;
    outline: none;
}

.page-number-active {
    color: #ffffff;
    background-color: #ee3643;
}

/* Описание раздела */

.catalog-annotation {
    width: 100%;
    background-color: #f2f6f8;
}

.catalog-annotation-wrapper {
    width: 940px;
    margin: 0 auto;
}

.catalog-annotation-title {
    padding-top: 65px;
    padding-bottom: 35px;

    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.catalog-annotation p {
    padding-bottom: 70px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

/**************************************************/
/* Главная страница */
/**************************************************/

.maincontainer-home {
    margin-top: 60px;
}

/* Пазл и слайдер */

.puzzle {
    margin-bottom: 50px;
}

.puzzle-row {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
}

.puzzle-row .item-new::after {
    left: 240px;
}

.puzzle-item {
    width: 300px;
    margin-bottom: 20px;
    position: relative;

    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}

.puzzle-item::before {
    content: "";

    position: absolute;
    top: 30px;
    left: 195px;

    background-repeat: no-repeat;
    background-position: 0 0;
}

.puzzle-item p {
    padding: 25px 0 15px 25px;
}

.puzzle-iten-button {
    display: block;
    margin-left: 25px;
    margin-bottom: 20px;
    width: 135px;
    padding: 10px;

    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;

    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 3px;
}

.puzzle-iten-button:hover,
.puzzle-iten-button:focus {
    background-color: rgb(0, 0, 0, 0.2);
}

.puzzle-iten-button:active {
    background-color: rgb(0, 0, 0, 0.3);
}

.materials {
    background-color: #ffbf47;
    border: #ffbf47 1px solid;
}

.materials::before {
    width: 45px;
    height: 65px;
    background-image: url("../img/icon-1.svg");
}

.tools {
    background-color: #3bbce3;
    border: #3bbce3 1px solid;
}

.tools::before {
    width: 75px;
    height: 61px;
    background-image: url("../img/icon-2.svg");
}

.techniks {
    background-color: #eccaeb;
    border: #eccaeb 1px solid;
}

.techniks::before {
    width: 79px;
    height: 62px;
    background-image: url("../img/icon-3.svg");
}

.sales {
    background-color: #8ed78f;
    border: #8ed78f 1px solid;
}

.sales::before {
    width: 59px;
    height: 71px;
    background-image: url("../img/icon-4.svg");
}

.care {
    background-color: #ffc047;
    border: #ffc047 1px solid;
}

.care::before {
    width: 79px;
    height: 63px;
    background-image: url("../img/icon-5.svg");
}

.slider {
    position: relative;
    margin-bottom: 20px;
    width: 620px;
}

.slide1 {
    width: 100%;
    height: 100%;
    background-image: url("../img/slider_1.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.slider-header {
    position: absolute;
    top: 25px;
    left: 25px;
}

.slider-header h3 {
    padding: 0;
    margin: 0;

    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
    text-transform: uppercase;
}

.slider-header p {
    padding: 0;
    margin: 0;

    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.button-open-goods {
    position: absolute;
    left: 25px;
    bottom: 25px;
}

.button-slider-left,
.button-slider-right {
    position: absolute;
    top: 115px;
    border: none;
    background: none;
}

.button-slider-left {
    left: 20px;
}

.button-slider-right {
    right: 20px;
}

/* Популярное и сервисы */

.popular-goods-button,
.popular-workers-button {
    position: absolute;
    width: 255px;

    right: 25px;
    top: 25px;
}

.popular-goods,
.popular-workers,
.services-container {
    width: 940px;
    margin: 0 auto;
}

.popular-workers {
    margin-bottom: 80px;
}

.worker-item {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 220px;
    min-height: 145px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 20px;

    border: #ebebeb 1px solid;
}

.worker-item img {
    max-width: 150px;
    max-height: 70px;
    -o-object-fit: cover;
}

.worker-item:hover,
.worker-item:focus {
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.worker-item:active {
    box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.worker-item:active img {
    opacity: 0.3;
}

.services {
    width: 100%;
    background-color: #f4f7f9;
}

.services-container {
    position: relative;
}

.services-container::after {
    content: "";

    position: absolute;
    bottom: 0;
    right: 0;

    width: 470px;
    height: 260px;

    background-image: url("../img/car.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.services-row1 {
    margin-bottom: 75px;
}

.services-row1 h3 {
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #000;
    text-transform: uppercase;
}

.services-row1 h3 {
    padding-top: 70px;
    padding-bottom: 40px;
    margin: 0;
}

.services-row1 p {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.services-row2 {
    display: flex;
}

.services-list {
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
    list-style: none;
    width: 240px;

    background-image: url("../img/shadow-list.png");
    background-position: 230px -40px;
    background-repeat: no-repeat;
}

.service-item {
    display: block;
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: #fff;
    background-color: #32425c;
    box-shadow: 0 1px 1px 0 #293449;

    padding: 15px 25px;
}

.service-item:hover,
.service-item:focus {
    background-color: #293449;
}

.service-current-item {
    color: #32425c;
    background-color: #fff;
    box-shadow: none;
}

.service-current-item:hover,
.service-current-item:focus {
    background-color: #fff;
}

.service-item-text {
    margin: 0;
    margin-left: 80px;
    padding: 0;
    width: 300px;
    z-index: 1;
}

.service-item-text h4 {
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-bottom: 35px;
}

.service-item-text p {
    padding-bottom: 35px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

/**************************************************/
/* Модалки */
/**************************************************/

.form-right-us,
.form-goodpay {
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -310px;
    z-index: 10;

    width: 620px;
    box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
    border-top: #ff5357 8px solid;
    background-color: #fff;
}

.map {
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -485px;
    z-index: 10;
    padding: 0;

    width: 970px;
    height: 476px;
}

.map img {
    padding: 0;
    margin: 0;
}

.footer-wrapper {
    width: 100%;
    background-color: #f4f4f4;
}

.elements-container-top,
.elements-container-bottom {
    width: 460px;
    margin: 0 auto;
}

.elements-container-top {
    position: relative;
}

.elements-container-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 35px;
    padding-bottom: 35px;
}

.map-container {
    width: 100%;
    position: relative;
}

.elements-row1 {
    display: flex;
    justify-content: space-between;
}

.elements-row1 label {
    padding-top: 55px;
}

.elements-row2 {
    margin-top: 25px;
    margin-bottom: 35px;
}

.big-text {
    position: relative;
    padding: 70px 0 75px 95px;

    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #000;
}

.big-text::before {
    content: "";

    position: absolute;
    top: 50px;
    left: 0;

    width: 70px;
    height: 70px;

    background-image: url("../img/icon-mark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.form-right-us label {
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #000;
}

.form-right-us input {
    margin-top: 10px;
    width: 220px;
    border: #dee3e4 1px solid;
    border-radius: 2px;
}

.form-right-us input[name="text"] {
    width: 100%;
    min-height: 115px;
}

.form-right-us input::placeholder {
    padding: 10px 16px;
    vertical-align: top;

    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

.button-send {
    width: 100%;
}

.button-order,
.button-continue {
    width: 220px;
}

.button-continue {
    color: #000;
    background-color: #fff;
}

.button-close {
    position: absolute;
    top: 8px;
    right: -73px;

    border: none;
    background: none;
}

.button-close-map {
    position: absolute;
    top: 22px;
    right: 18px;

    border: none;
    background: none;
}

/**************************************************/
/* Для JS */
/**************************************************/

@keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }
  
    70% {
      transform: translateY(30px);
    }
  
    90% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
}
  
.modal {
    display: none;
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}
